/JavaDay1/nbproject/private/
/DAY1/nbproject/private/
/DAY_1/nbproject/private/
/DAY_1/build/
/DAY_1/dist/
/DAY2/nbproject/private/
/DAY2/build/
/DAY3/nbproject/private/
/DAY3/build/
/Day4/nbproject/private/
/Day4/build/
/DAY5/nbproject/private/
/DAY5/build/
/DAY5GUI/nbproject/private/
/DAY5GUI/build/
/DAY6/nbproject/private/
/DAY6X/nbproject/private/
/DAY6X/build/
/TicTacToe/nbproject/private/
/TicTacTao/nbproject/private/
/TicTacTao/build/
/TicTacTao/dist/
/DAY7/nbproject/private/
/Sorting/nbproject/private/
/Sorting/build/
/karatavas/nbproject/private/
/karatavas/build/
/Day9/nbproject/private/
/Day9/build/
/TODOlist/nbproject/private/
/TODOlist/build/
/TODOlist/dist/